body { 
    background-color: #070024 !important;
  margin: 0; }

h1 {
    color: white; 
    text-align: center;}

.letras { 
    color: white}

.titulo-producto{
    color:rgb(156, 3, 3)}

.product-details {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  .product-image {
    flex: 0 0 70%;
  }
  
  .product-image img {
    max-width: 500px;
  }
  
  .product-info {
    flex: 0 0 70%;
  }
  
  .product-info p {
    margin-bottom: 30px;
  }
  
  .product-info select {
    margin-bottom: 20px;
  }
  
  .product-info div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .product-info label {
    margin-right: 10px;
  }
  
  .product-info input {
    width: 50px;
    text-align: center;
    margin: 0 5px;
  }
  
  .product-info button {
    padding: 2px 2px;
    margin: 0 px;
  }
  